/*colores*/
/*fuente*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-image: url(../imagen/imgfondo.jpg);
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

/*----------header--------*/
.titulo {
  font-family: "Anton", sans-serif;
  color: #c0e218;
  text-align: center;
  font-size: 50px;
  padding-top: 10px; }

.subtitulo {
  font-family: "Anton", sans-serif;
  color: #e9e6e5;
  text-align: center; }

/*-----------main----------*/
.desenfoque {
  background-image: url(../imagen/imgfondodesenfoque.jpg);
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); }

.divmusica {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
  text-align: center; }

h3 {
  color: #969190;
  font-family: "Anton", sans-serif;
  font-size: 10px; }

.djscontenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  text-align: center; }

.imgdjs {
  width: 300px;
  height: 250px;
  border-radius: 50%;
  margin: 20px;
  border: 5px solid #969190; }

.icono {
  width: 25px; }

.icono2 {
  width: 25px;
  padding-bottom: 20px; }

.imagennt {
  width: 300px;
  border-radius: 40px; }

.imagennt1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden; }

.imagennt1 div img {
  width: 95%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s; }

.imagennt1 div:hover img {
  filter: blur(2px);
  transform: rotate(5deg) scale(1); }

.box1tab {
  margin: 10px;
  background: #787a7a75;
  color: #e9e6e5;
  font-family: "Anton", sans-serif; }

.box1tab:hover {
  background: cornsilk;
  color: #787a7a75; }

.parrafo1 {
  color: #969190;
  font-family: "Anton", sans-serif;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 20px; }

.parrafo1texto .parrafo1 {
  margin-bottom: 25%;
  width: 50%; }

.boxmultimedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px;
  text-align: center; }

.box2 iframe {
  width: 400px; }

.animacion {
  color: #969190;
  font-family: "Anton", sans-serif;
  text-decoration: none;
  font-size: 20px; }

form {
  width: 450px;
  height: 600px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: "Anton", sans-serif; }

h4 {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 10px;
  text-align: center; }

input, textarea {
  width: 100%;
  padding-bottom: 10px;
  padding: 7px;
  box-sizing: border-box; }

@media (max-width: 600px) {
  form {
    width: 100%; } }

/*-------footer-------*/
.redessociales {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.redessociales a {
  font-family: "Anton", sans-serif;
  text-decoration: none;
  color: #e9e6e5;
  font-size: 20px;
  margin: 15px; }

.redessociales li {
  list-style: none; }

.boxcomentario {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 15px; }

.comentario {
  color: #e9e6e5;
  font-family: "Anton", sans-serif;
  font-size: 20px; }
