/*colores*/
/*fuente*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-image: url(../imagen/imgfondo.jpg);
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

/*----------header--------*/
.titulo {
  font-family: "Anton", sans-serif;
  color: #18c4e2;
  text-align: center;
  font-size: 50px;
  padding-top: 10px; }

.subtitulo {
  font-family: "Anton", sans-serif;
  color: #e9e6e5;
  text-align: center; }

/*-----------main----------*/
.desenfoque {
  background-image: url(../imagen/imgfondodesenfoque.jpg);
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); }

.divmusica {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
  text-align: center; }

h3 {
  color: #e9e6e5;
  font-family: "Anton", sans-serif;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.2); }

.djscontenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  text-align: center; }

.imgdjs {
  width: 300px;
  height: 250px;
  border-radius: 50%;
  margin: 20px;
  border: 3px solid #e9e6e5; }

.icono {
  width: 25px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: 0.3s; }

.icono:hover {
  background: #e9e6e5; }

.icono2 {
  width: 25px;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s;
  margin-bottom: 20px; }

.icono2:hover {
  background: #e9e6e5; }

.imagennt {
  width: 300px;
  border-radius: 40px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); }

.imagennt1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden; }

.imagennt1 div img {
  width: 95%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s; }

.imagennt1 div:hover img {
  filter: blur(2px);
  transform: rotate(5deg) scale(1); }

.box1tab {
  margin: 10px;
  background: #787a7a75;
  color: #e9e6e5;
  font-family: "Anton", sans-serif; }

.box1tab:hover {
  background: cornsilk;
  color: #787a7a75; }

.parrafo1 {
  color: #e9e6e5;
  font-family: "Anton", sans-serif;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 20px;
  background: rgba(0, 0, 0, 0.281); }

.boxmultimedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px;
  text-align: center; }

.box2 iframe {
  width: 400px; }

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }

form input:focus,
form textarea:focus {
  outline-color: #3498db; }

form input, form textarea {
  font-family: "Anton", sans-serif;
  width: 500px;
  font-size: 1.0625rem;
  background: #787a7a75;
  padding-left: 10px;
  border: 1px solid #787a7a75; }

h4 {
  background: rgba(0, 0, 0, 0.2);
  color: #e9e6e5;
  font-family: "Anton", sans-serif;
  font-size: 10px;
  text-align: center; }

form button {
  font-family: "Anton", sans-serif;
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #787a7a75;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s; }

form button:hover {
  background: #e9e6e5; }

/*-------footer-------*/
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%; }

.contenidofooter {
  display: flex;
  max-width: 100%; }

.contenidofooter .box {
  flex-basis: 50%;
  padding: 10px 20px; }

.box h4 {
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase; }

.box .contenido {
  margin: 20px 0 0 0; }

.izquierdo .contenido p {
  text-align: justify; }

.parrafo2 {
  color: #e9e6e5;
  font-family: "Anton", sans-serif;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.281);
  letter-spacing: 2px; }

.izquierdo .contenido .redessociales {
  margin: 20px 0 0 0; }

.izquierdo .contenido .redessociales a {
  padding: 0 2px; }

.izquierdo .contenido .redessociales a img {
  width: 25px;
  line-height: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: 0.3s; }

.izquierdo .contenido .redessociales a img:hover {
  background: #e9e6e5; }

.centro .contenido img {
  background: rgba(0, 0, 0, 0.281);
  border-radius: 10%;
  transition: 0.3s;
  cursor: pointer;
  height: 30px;
  width: 30px; }

.centro .contenido img:hover {
  background: #e9e6e5; }

.derecho form .mensaje {
  margin-top: 10px; }

.derecho form input, .derecho form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #787a7a75;
  padding-left: 10px;
  border: 1px solid #787a7a75; }

.derecho form input:focus,
.derecho form textarea:focus {
  outline-color: #3498db; }

.derecho form input {
  height: 35px; }

.derecho form .boton {
  margin-top: 10px; }

.derecho form .boton button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #787a7a75;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s; }

.derecho form .boton button:hover {
  background: #e9e6e5; }

@media screen and (max-width: 900px) {
  .footer {
    position: relative;
    bottom: 0px; }
  .contenidofooter {
    flex-wrap: wrap;
    flex-direction: column; }
  .contenidofooter .box {
    margin: 5px 0; } }
