.Fondo{
	background-image: linear-gradient(to bottom, $azul, $rosado);
	width: 100%;
	height: 150px;
	
}

.titulo{
	font-family: $fuente;
	color: $limon;
	text-align: center;
	font-size: 50px;
}
.subtitulo{
	font-family: $fuente;
	color:$naranjo;
	text-align: center;
}
