.desenfoque{
	background-image: url(../imagen/imgfondodesenfoque.jpg);
	background-size: cover;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	

	
}

.divmusica{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 
	margin: 50px;
	text-align: center;
}

h3{
	color: $morado;
	font-family: $fuente;
	@include tamanofuente(10px);
	
}

.djscontenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px;
	text-align: center;
}

.imgdjs{
	width: 300px;
	height: 250px;
	border-radius: 50%;
	margin: 20px;
	border: 5px solid $morado;
	
	
}

.imagennt{
	@include tamano(300px);
	border-radius: 40px;

}
.imagennt1{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	width: 95%;
	margin: auto;
	grid-gap: 10px;
	padding: 40px 0;
	overflow: hidden;
}


.imagennt1 div img{
	width: 95%;
	vertical-align: top;
	height: 300px;
	object-fit: cover;
	transition: transform 0.5s;

}
.imagennt1 div:hover img{
	filter: blur(2px);
	transform: rotate(5deg) scale(1.0);
	 
}




.box1tab{
	margin: 10px 10px 10px 10px;
	background-color: $rosado;
	color:$naranjo;
	font-family: $fuente;
	list-style: none;
	text-decoration: none;
}
.box1 li a {
	color:$naranjo;
	font-family: $fuente;
	text-decoration: none;
	@include tamanofuente(20px);

}
.box1 ul{
	list-style: none;	
	display:flex; 
	flex-direction: row;
	justify-content: space-evenly;  

}



.parrafo1{
	color:$morado;
	font-family: $fuente;
	text-align: center;
	@include tamanofuente(20px);
	letter-spacing: 1px
}
.parrafo1texto .parrafo1{
	margin-bottom:25%;
	width:50%;
}

.boxmultimedia{
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	margin: 50px;
	text-align: center;
}

.box2 iframe{
	width: 400px;
}
.animacion{
	color: $morado;
	font-family: $fuente;
	text-decoration: none;
	@include tamanofuente(20px);
	
}

.gridcontacto{
	display: grid;
	width: 500px;
	height:400px;
	grid-template-columns: 200px 200px;
	grid-template-rows: 40px 40px;
	justify-content: center;
	margin-bottom: 50px;
	
}
.columna1{
	display: grid;
	grid-auto-rows: 60px 70px 70px 70px 70px 70px;
	grid-gap: 3px;

}
.texto{
	font-family: $fuente;
	color: $naranjo;
	text-align: center;
	padding-top: 10px;
	background-color: $rosado;

}

.columna2{
	display: grid;
	grid-auto-rows: 60px 70px 70px 70px 70px 70px;
	grid-gap: 3px;
	
}