.desenfoque{
	background-image: url(../imagen/imgfondodesenfoque.jpg);
	background-size: cover;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

	
}

.divmusica{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 
	margin: 50px;
	text-align: center;
}

h3{
	color: $blanco;
	font-family: $fuente;
	@include tamanofuente(10px);
	background: rgba(0, 0, 0, 0.2);
	
}

.djscontenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px;
	text-align: center;
}

.imgdjs{
	width: 300px;
	height: 250px;
	border-radius: 50%;
	margin: 20px;
	border: 3px solid $blanco;
	
	
}
.icono{
	width: 25px;
	text-align: center;
	background: rgba(0, 0, 0, 0.2); ;
	border-radius: 5px;
	transition: 0.3s;
}
.icono:hover{
	background: $blanco;
}
.icono2{
	width: 25px;
	text-align: center;
	border-radius: 5px;
	transition: 0.3s;
	margin-bottom: 20px;
}
.icono2:hover{
	background: $blanco;
}




.imagennt{
	@include tamano(300px);
	border-radius: 40px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

}
.imagennt1{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	width: 95%;
	margin: auto;
	grid-gap: 10px;
	padding: 40px 0;
	overflow: hidden;
}


.imagennt1 div img{
	width: 95%;
	vertical-align: top;
	height: 300px;
	object-fit: cover;
	transition: transform 0.5s;

}
.imagennt1 div:hover img{
	filter: blur(2px);
	transform: rotate(5deg) scale(1.0);
	 
}


.box1tab{
	margin: 10px;
	background: $gris;
	color:$blanco;
	font-family: $fuente;

}

.box1tab:hover{
	background: cornsilk;
	color: $gris;
	
}

.parrafo1{
	color:$blanco;
	font-family: $fuente;
	text-align: center;
	@include tamanofuente(20px);
	letter-spacing: 1px;
	padding-top: 20px;
	background: rgba(0, 0, 0, 0.281) ;	
}

.boxmultimedia{
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	margin: 50px;
	text-align: center;
}

.box2 iframe{
	width: 400px;
}

form{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

form input:focus,
form textarea:focus{
	outline-color: #3498db;
}
form input, form textarea{ 
	font-family: $fuente;
	width: 500px;
	font-size: 1.0625rem;
	background: $gris;
	padding-left: 10px;
	border: 1px solid $gris

}
h4{
	background: rgba(0, 0, 0, 0.2);
	color: $blanco;
	font-family: $fuente;
	@include tamanofuente(10px);
	text-align: center;
	
}

form button{
	font-family: $fuente;
	height: 40px;
	width: 100%;
	border: none;
	outline: none;
	background: $gris;
	font-size: 1.0625rem;
	font-weight: 500;
	cursor: pointer;
	transition: 0.3s;

}

form button:hover{
	background: $blanco;


}

