


/*colores*/
$naranjo: #e9e6e5;
$morado:  #969190;
$rosado:  #787a7a75;
$azul: #e9e6e5;
$limon: #c0e218;
$azulcielo:#e9e6e5;

/*fuente*/
$fuente: 'Anton', sans-serif;

@mixin tamano($width)  {

	width: $width;
	
}
@mixin tamanofuente($font-size) {

	font-size: $font-size;
	
}

*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
}

body{
	background-image: url(../imagen/imgfondo.jpg);
	background-size: cover;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	
}

/*----------header--------*/

@import "header";

/*-----------main----------*/

@import "main";

/*-------footer-------*/

@import "footer";